* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color: #eeebe2;
    --main-color: #080909;
    --caret-color: #7fa480;
    --sub-color: #99947f;
    --sub-alt-color: #d3cfc1;
    --text-color: #080909;
    --error-color: #c87e74;
    --colorful-error-color: #a56961;
    --colorful-error-color: #c87e74;
    --colorful-error-extra-color: #a56961;
}

:root.darkmode {
    --bg-color: #2d2e30;
    --main-color: #7eddd3;
    --caret-color: #7eddd3;
    --sub-color: #54585c;
    --sub-alt-color: #242527;
    --text-color: #e3e6eb;
    --error-color: #d36a7b;
    --error-extra-color: #994154;
    --colorful-error-color: #d36a7b;
    --colorful-error-extra-color: #994154;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto", Arial, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, nav {
    width: 700px;
}

@media only screen and (max-device-width: 450px) {
    header, nav {
        width: 90%;
    }
}

header {
    padding: 10px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    user-select: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    appearance: none;
    color: var(--text-color);
    background: var(--sub-alt-color);
    border: 2px solid var(--bg-color);
}

nav a:hover {
    color: var(--sub-alt-color);
    background: var(--text-color);
    border: 2px solid var(--bg-color);

}

nav a:active {
    color: var(--sub-alt-color);
    background: var(--sub-color);
    transform: scale(1.05);
    border: 2px solid var(--text-color);
}

header i {
    font-size: 20px;
    margin-left: 10px;
    color: var(--text-color);
}

header svg {
    margin-left: auto;
}